* {
  box-sizing: border-box;
}
:root {
  /* --color-gray-light: #f3f4f6; */
  --color-gray-light: #ededed;
  --color-gray-dark: #292929;
  --color-green-dark: #059669;
  --color-blue-dark: #0f52ba;
  --color-blue-light: #437edb;
  /* --color-blue-lighter: #edf3ff; */
  --color-blue-lighter: #dbe7ff;
  --color-red-light: #ee3434;
  /* --color-red-lighter: #ffecec; */
  --color-red-lighter: #ffd1d1;

  /* --color-task-1: #84e3c8;
  --color-task-2: #a8e6cf;
  --color-task-3: #dcedc1;
  --color-task-4: #ffd3b6;
  --color-task-5: #ffaaa5;
  --color-task-6: #ff8b94;
  --color-task-7: #ff7480; */
}

::selection {
  background: #84e3c8;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  color: var(--color-gray-dark);
}
.green_header {
  text-align: center;
  color: var(--color-green-dark);
}
.con_main {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}

.fade_in_out-enter-active,
.fade_in_out-leave-active {
  transition: opacity 0.3s;
}
.fade_in_out-enter,
.fade_in_out-leave-to {
  opacity: 0;
  /* transform: rotateX(90deg); */
}
.fade_slide_in_out-enter-active,
.fade_slide_in_out-leave-active {
  transition: 0.3s;
  transform: translateY(0);
}
.fade_slide_in_out-enter,
.fade_slide_in_out-leave-to {
  opacity: 0;
  transform: translateY(10%);
}

.button_green {
  width: fit-content;
  width: -moz-fit-content;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  border: 2px solid var(--color-green-dark);
  background-color: var(--color-green-dark);
  transition: 0.3s;
  font-weight: 700;
}

.button_green_small {
  font-size: 13px;
  padding: 5px;
  margin-left: 10px;
}

.button_green:hover,
.button_green:focus {
  background-color: #fff;
  color: var(--color-green-dark);
  outline: none;
}

/* Form styles */
.form_main {
  position: relative;
  z-index: 10;
}
.header1 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

.form_main input,
.form_main textarea {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 18px;
  border-radius: 5px;
  margin-bottom: 10px;
  border-color: transparent;
  font-family: 'Lato', sans-serif;
  border: 2px solid #fff;
}
.form_main input:active,
.form_main input:focus,
.form_main textarea:active,
.form_main textarea:focus,
.form_main select:active,
.form_main select:focus {
  outline: none;
  border: 2px solid var(--color-green-dark);
  color: var(--color-gray-dark);
}
.form_main select {
  position: relative;
  width: 100%;
  padding: 8px;
  font-size: 18px;
  border-radius: 5px;
  margin-bottom: 10px;
  border-color: transparent;
  font-family: 'Lato', sans-serif;
  border: none;
  outline: transparent;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  border: 2px solid #fff;
  background: #fff url(~assets/arrow_bottom.png) no-repeat;
  background-position: center right 12px;
  color: #757575;
}

.form_main .error {
  position: absolute;
  top: calc(100%);
  left: 0;
  right: 0;
  width: fit-content;
  width: -moz-fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  background-color: rgb(255, 125, 125);
  color: #fff;
}
