* {
  box-sizing: border-box;
}
:root {
  --color-gray-light: #ededed;
  --color-gray-dark: #292929;
  --color-green-dark: #059669;
  --color-green-light: #84e3c8;
  --color-blue-dark: #0f52ba;
  --color-blue-light: #437edb;
  --color-blue-lighter: #dbe7ff;
  --color-red-light: #ee3434;
  --color-red-lighter: #ffd1d1;

  /* --color-task-1: #84e3c8;
  --color-task-2: #a8e6cf;
  --color-task-3: #dcedc1;
  --color-task-4: #ffd3b6;
  --color-task-5: #ffaaa5;
  --color-task-6: #ff8b94;
  --color-task-7: #ff7480; */
}

::selection {
  background: var(--color-green-light);
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  color: var(--color-gray-dark);
}
.green_header {
  text-align: center;
  color: var(--color-green-dark);
}
.con_main {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}
.fade_in_out-enter-active,
.fade_in_out-leave-active {
  transition: opacity 0.3s;
}
.fade_in_out-enter,
.fade_in_out-leave-to {
  opacity: 0;
  /* transform: rotateX(90deg); */
}
.fade_slide_in_out-enter-active,
.fade_slide_in_out-leave-active {
  transition: 0.3s;
  transform: translateY(0);
}
.fade_slide_in_out-enter,
.fade_slide_in_out-leave-to {
  opacity: 0;
  transform: translateY(10%);
}

.button_green {
  width: fit-content;
  width: -moz-fit-content;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  border: 2px solid var(--color-green-dark);
  background-color: var(--color-green-dark);
  /* background-color: #fff; */
  border: none;
  /* border-top: 2px solid #fff; */
  border: 2px solid var(--color-green-dark);
  /* color: var(--color-green-dark); */
  transition: 0.3s;
  font-weight: 700;
}

.button_nav {
  width: fit-content;
  width: -moz-fit-content;
  padding: 5px;
  margin-left: 10px;
  border: 0;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  color: var(--color-green-dark);
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.button_green:hover,
.button_green:focus {
  background-color: #fff;
  color: var(--color-green-dark);
  /* background-color: var(--color-green-dark); */
  /* color: #fff; */
  /* border-top: 2px solid var(--color-green-dark); */
  outline: none;
}
.button_nav:hover,
.button_nav:focus {
  border-bottom: 2px solid var(--color-green-dark);
}

/* Form styles */
.form_main {
  position: relative;
  z-index: 10;
}
.header1 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

.form_main input,
.form_main textarea {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 18px;
  border-radius: 5px;
  margin-bottom: 10px;
  border-color: transparent;
  font-family: 'Lato', sans-serif;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  transition: 0.3s;
  box-shadow: 2px 4px 2px -6px, rgb(0 0 0 / 4%) 1px 1px 5px -1px;
}
.form_main input:active,
.form_main input:focus,
.form_main textarea:active,
.form_main textarea:focus,
.form_main select:active,
.form_main select:focus {
  outline: none;
  color: var(--color-gray-dark);
  background-color: #f8fcfb;
  border-top: 2px solid #f8fcfb;
  border-bottom: 2px solid var(--color-green-dark);
}
.form_main select {
  position: relative;
  width: 100%;
  padding: 8px;
  font-size: 18px;
  border-radius: 5px;
  margin-bottom: 10px;
  border-color: transparent;
  font-family: 'Lato', sans-serif;
  border: none;
  outline: transparent;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  border: 2px solid #fff;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  background: #fff url(~assets/arrow_bottom.png) no-repeat;
  background-position: center right 12px;
  color: #757575;
  box-shadow: 2px 4px 2px -6px, rgb(0 0 0 / 4%) 1px 1px 5px -1px;
}
.form_main select.active {
  color: var(--color-gray-dark);
}

.form_main .error {
  position: absolute;
  top: calc(100%);
  left: 0;
  right: 0;
  width: fit-content;
  width: -moz-fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  background-color: rgb(255, 125, 125);
  color: #fff;
}
.form_main .error3 {
  position: absolute;
  top: calc(100%);
  left: 0;
  right: 0;
  width: -webkit-fit-content;
  width: fit-content;
  width: -moz-fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 0px 0px 5px 5px;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  /* background-color: rgb(255, 125, 125); */
  background-color: #f1eded;
  border: 2px solid #e75151;
  /* border-top: 0; */
  color: #e75151;
  /* padding-top: 2px; */
}
.form_main .error.correct_user_data {
  background-color: var(--color-green-light);
  color: var(--color-green-dark);
  font-weight: 700;
}
.form_main .editor_con {
  overflow: auto;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: 'Lato', sans-serif;
  box-shadow: 2px 4px 2px -6px, rgb(0 0 0 / 4%) 1px 1px 5px -1px;
}
.form_main .editor_con > div {
  max-height: 600px;
  min-height: 300px;
}
.editor_con .el-tiptap-editor > .el-tiptap-editor__content {
  padding: 15px 15px;
}
.el-tiptap-editor {
  height: 100%;
}
.editor_con
  .el-tiptap-editor__placeholder.el-tiptap-editor--empty:first-child:before,
.editor_con .el-tiptap-editor__with-title-placeholder:first-child:before,
.editor_con .el-tiptap-editor__with-title-placeholder:nth-child(2):before {
  color: #7d7d7d;
}
.split_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

::-webkit-scrollbar {
  height: 6px;
  width: 8px;
  background: #ededed;
}

::-webkit-scrollbar-thumb {
  background-color: #059669;
  border-radius: 20px;
  -webkit-border-radius: 20px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
.invisible-scrollbar {
  scrollbar-width: none;
}
.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}
.el_tiptap.prev .el-tiptap-editor__menu-bubble {
  display: none;
}
.el-tiptap-editor__content hr {
  height: 2px;
  border: none;
  background-color: var(--color-gray-dark);
  border-bottom: 1px solid var(--color-gray-light);
}
